n8n/rss-collection-workflow.json
{
  "name": "巨人情報站｜RSS 收集管線",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "ab3311cb-246d-42cd-a7bb-6c63ed701a07",
      "name": "每 2 小時",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-464, 288]
    },
    {
      "parameters": {
        "jsCode": "// RSS 來源清單：要加來源只要在這裡加一行\nreturn [\n  { json: { url: \"https://www.mlbtraderumors.com/san-francisco-giants/feed\" } },\n  { json: { url: \"https://www.mlb.com/feeds/news/rss.xml?team_id=137\" } },\n  { json: { url: \"https://www.mccoveychronicles.com/rss/index.xml\" } },\n  { json: { url: \"https://news.google.com/rss/search?q=%22San+Francisco+Giants%22+site:sfchronicle.com&hl=en-US&gl=US&ceid=US:en\" } },\n  { json: { url: \"https://www.nbcsportsbayarea.com/mlb/san-francisco-giants/feed/\" } },\n  { json: { url: \"https://www.mercurynews.com/sports/mlb/san-francisco-giants/feed/\" } },\n  { json: { url: \"https://sfstandard.com/category/sports/feed/\" } },\n  { json: { url: \"https://www.nytimes.com/athletic/rss/mlb/sf-giants/\" } }\n];"
      },
      "id": "adcea7c1-eb17-4600-9afa-1d455ced5143",
      "name": "RSS 來源清單",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 288]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "ba27ba08-872f-4210-90b2-4a3444de955e",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-16, 288],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 依連結網域標記來源，並對綜合型來源（SF Standard）做關鍵字預過濾\nconst sourceMap = [\n  [/mlbtraderumors\\.com/i, 'MLBTR'],\n  [/mlb\\.com/i, 'MLB.com'],\n  [/mccoveychronicles\\.com/i, 'McCovey Chronicles'],\n  [/nbcsportsbayarea\\.com/i, 'NBC Sports Bay Area'],\n  [/mercurynews\\.com/i, 'Mercury News'],\n  [/sfstandard\\.com/i, 'SF Standard'],\n  [/nytimes\\.com|theathletic\\.com/i, 'The Athletic'],\n  [/news\\.google\\.com|sfchronicle\\.com/i, 'SF Chronicle']\n];\n\nconst out = [];\nfor (const item of items) {\n  const j = item.json;\n  const link = j.link || '';\n  if (!link || !j.title) continue;\n\n  let source = '其他';\n  for (const [re, name] of sourceMap) {\n    if (re.test(link)) { source = name; break; }\n  }\n\n  // SF Standard 是綜合體育版，先用關鍵字擋掉勇士/49人等非棒球內容，省 AI 成本\n  if (source === 'SF Standard') {\n    const text = `${j.title} ${j.contentSnippet || ''}`;\n    if (!/giants/i.test(text)) continue;\n  }\n\n  out.push({ json: { ...j, source } });\n}\nreturn out;"
      },
      "id": "6092a359-c4e1-4a24-8097-1bf353ac866e",
      "name": "標記來源＋預過濾",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 288]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "time-filter",
              "leftValue": "={{ $json.isoDate || $json.pubDate }}",
              "rightValue": "={{ $now.minus({ hours: 48 }).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ecd7258b-ffae-4d93-846f-ec79fbde5385",
      "name": "48 小時內",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [432, 288]
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.link }}",
        "options": {}
      },
      "id": "d43cde6a-b47e-4cd7-831a-2d82322be002",
      "name": "去重（跨執行）",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [656, 288]
    },
    {
      "parameters": {
        "jsCode": "// 為每篇文章組出 AI 評估用的 prompt，並保留後續需要的欄位\nreturn items.map(item => {\n  const j = item.json;\n  const snippet = (j.contentSnippet || j.content || '').replace(/\\s+/g, ' ').slice(0, 800);\n  const aiPrompt = `文章標題：${j.title}\\n來源：${j.source}\\n摘要片段：${snippet}\\n\\n請評估這篇文章。`;\n  return {\n    json: {\n      title: j.title,\n      link: j.link,\n      source: j.source,\n      pubDate: j.isoDate || j.pubDate || '',\n      aiPrompt\n    }\n  };\n});"
      },
      "id": "76272267-c2a4-4af4-8a9b-5517e387674a",
      "name": "準備 AI 請求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 288]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o-mini',\n  temperature: 0.2,\n  response_format: { type: 'json_object' },\n  messages: [\n    {\n      role: 'system',\n      content: '你是「舊金山巨人情報站」（台灣繁體中文 MLB 粉專與部落格）的選材助理。判斷一篇英文文章是否值得收進內容管線。\\n\\n相關性標準（relevant=true 的條件，符合其一即可）：\\n1. 與舊金山巨人隊直接相關（球員、交易、傷兵、農場、教練團、球團決策）\\n2. 對台灣 MLB 讀者有高話題性的聯盟級新聞（重大交易、台灣或亞洲球員、制度變革）\\n\\n潛力評分 score（1-5 整數）依素材可寫性：是否有觀點空間、數據深度、與球迷的情感連結（例如巨人的重建史、指標球員）。純例行賽報導或瑣碎消息給低分。\\n\\n一律輸出 JSON，格式：{\"relevant\": boolean, \"score\": 1-5 整數, \"summary\": \"繁體中文一句話摘要\", \"angles\": [\"建議切角一\", \"建議切角二\"]}。summary 與 angles 必須是繁體中文、台灣用語。'\n    },\n    { role: 'user', content: $json.aiPrompt }\n  ]\n}) }}",
        "options": {}
      },
      "id": "733c3793-fd54-4749-b892-8b62465f6770",
      "name": "AI 評估（gpt-4o-mini）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1088, 288],
      "credentials": {
        "openAiApi": {
          "id": "i7dzyLQN4H3h9Xgq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 解析 AI 回傳的 JSON，併回文章原始欄位\nreturn items.map((item, i) => {\n  const meta = $('準備 AI 請求').all()[i].json;\n  let ai = { relevant: false, score: 0, summary: '', angles: [] };\n  try {\n    ai = JSON.parse(item.json.choices[0].message.content);\n  } catch (e) {\n    ai.summary = 'AI 回應解析失敗';\n  }\n  return {\n    json: {\n      title: meta.title,\n      link: meta.link,\n      source: meta.source,\n      pubDate: meta.pubDate,\n      relevant: ai.relevant === true,\n      score: Number(ai.score) || 0,\n      summary: String(ai.summary || ''),\n      angles: Array.isArray(ai.angles) ? ai.angles : []\n    }\n  };\n});"
      },
      "id": "08aa84a9-0860-4d88-94be-03134da0723e",
      "name": "解析評估結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1312, 288]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-relevant",
              "leftValue": "={{ $json.relevant }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "cond-score",
              "leftValue": "={{ $json.score }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8238734-4066-4638-af63-43c4ac54bdc3",
      "name": "相關且 ≥3 分",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1536, 288]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://firestore.googleapis.com/v1/projects/iants-content-pipeline/databases/(default)/documents/articles",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { title: { stringValue: String($json.title).slice(0, 500) }, link: { stringValue: $json.link }, source: { stringValue: $json.source }, aiSummary: { stringValue: String($json.summary).slice(0, 2000) }, angles: { arrayValue: { values: ($json.angles || []).map(a => ({ stringValue: String(a) })) } }, score: { integerValue: String($json.score) }, pubDate: { stringValue: $json.pubDate }, createdAt: { timestampValue: $now.toISO() }, state: { stringValue: 'new' }, fullText: { stringValue: '' }, translation: { stringValue: '' } } }) }}",
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-4789-9abc-def012345678",
      "name": "寫入 Firestore（新聞流）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1744, 288]
    }
  ],
  "pinData": {},
  "connections": {
    "每 2 小時": {
      "main": [[{ "node": "RSS 來源清單", "type": "main", "index": 0 }]]
    },
    "RSS 來源清單": {
      "main": [[{ "node": "RSS Read", "type": "main", "index": 0 }]]
    },
    "RSS Read": {
      "main": [[{ "node": "標記來源＋預過濾", "type": "main", "index": 0 }]]
    },
    "標記來源＋預過濾": {
      "main": [[{ "node": "48 小時內", "type": "main", "index": 0 }]]
    },
    "48 小時內": {
      "main": [[{ "node": "去重（跨執行）", "type": "main", "index": 0 }]]
    },
    "去重（跨執行）": {
      "main": [[{ "node": "準備 AI 請求", "type": "main", "index": 0 }]]
    },
    "準備 AI 請求": {
      "main": [[{ "node": "AI 評估（gpt-4o-mini）", "type": "main", "index": 0 }]]
    },
    "AI 評估（gpt-4o-mini）": {
      "main": [[{ "node": "解析評估結果", "type": "main", "index": 0 }]]
    },
    "解析評估結果": {
      "main": [[{ "node": "相關且 ≥3 分", "type": "main", "index": 0 }]]
    },
    "相關且 ≥3 分": {
      "main": [[{ "node": "寫入 Firestore（新聞流）", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
